<div class="card__container">
    <div class="card__title">
        <h3 class="card__title_name"></h3>
        <div class="card__title_delete">
            <img id="test" src="./app/frontend/assets/icons/trash_icon_top.svg" alt="" />
            <img id="test" src="./app/frontend/assets/icons/trash_icon_bottom.svg" alt="" />
        </div>
    </div>
    <div class="card__info">
        <table>
            <tr>
                <td>Fecha</td>
                <td id="card__info_title_formula">Formula</td>
                <td>Total</td>
                <td>Estado</td>
            </tr>
            <tr>
                <td name="fecha"></td>
                <td name="formula"></td>
                <td name="total"></td>
                <td name="estado"></td>
            </tr>
        </table>
    </div>
</div>