<div class="card__container">
    <div class="card__title">
        <a id="card__title_link">
            <h3 class="card__title_name"></h3>
        </a>   
        <div class="card__title_delete">
            <a id="delete_button" href="#">
                <img id="test" class="trash_top" src="./app/frontend/assets/icons/trash_icon_top.svg" alt="" />
                <img id="test" src="./app/frontend/assets/icons/trash_icon_bottom.svg" alt="" />
            </a>
        </div>
    </div>
    <div class="card__info">
        <table>
            <tr>
                <td>Fecha</td>
                <td>Total</td>
                <td>Estado</td>
            </tr>
            <tr>
                <td name="fecha"></td>
                <td name="total"><span>$</span></td>
                <td name="estado"></td>
            </tr>
        </table>
    </div>
</div>

