<div class="formula_list__background">
    <div class="formula_selector__container">
        <h2>El cliente <span id="nombre_cliente"></span></h2>
    
        <table class="formula_list">
            <tr>
                <th>Aumento Ojo Izquierdo</th>
                <th>Aumento Ojo Derecho</th>
                <th>Fecha</th>
                <th></th>
            </tr>

        </table>
        
        <div class="formula_list__buttons">
            <button id="cancel" class="action_button">Cancelar</button>
        </div>
    </div>
</div>