<tr class="item common">
    <td>
        <span id="product_name"></span>
    </td>
    <td class="price_td">
        <input type="number" id="product_price" maxlength="5" readonly>
        <span>$</span>
    </td>
</tr>

<tr class="item glasses title">
    <td>
        <span>Lentes</span>
    </td>
</tr>

<tr class="item glasses product" nombre="Cristales">
    <td>
        <span id="product_name">Cristales</span>
    </td>
    <td class="price_td">
        <input type="number" name="precio" readonly>
        <span>$</span>
    </td>
</tr>
<tr class="item glasses product" nombre="Montura">
    <td>
        <span id="product_name">Montura</span>
    </td>
    <td class="price_td">
        <input type="number" name="precio" readonly>
        <span>$</span>
    </td>
</tr>
<tr class="item glasses product" nombre="Consulta">
    <td>
        <span id="product_name">Consulta</span>
    </td>
    <td class="price_td">
        <input type="number" name="precio" readonly>
        <span>$</span>
    </td>
</tr>