* {
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

:root {
    --white-text: #FFF;
    --yellow: #F9E24A;
    --yellow-border: #B8961F;
    --black: #000;
    --purple: #70028B;
    --border-table: 3px;
}

@font-face {
    font-family: 'Baloo';
    src: url('./../assets/fonts/BalooBhaijaan2-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Baloo';
    src: url('./../assets/fonts/BalooBhaijaan2-Bold.ttf');
    font-weight: bold;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 2rem;
}

html, body, input, p, h2, h3 {
    font-family: 'Baloo';
}

input {
    font-size: 1rem;
}

input[type=button], input[type=submit] {
    cursor: pointer;
}

main {
    width: 100%;
}

@keyframes invisible {
    100% {
        visibility: hidden
    }
}

.invisible {
    visibility: hidden
}

.fail {
   color: #ff3f3f
}

.display_none {
    display: none!important;
}

.check {
    color: #68e368
}

.label_error {
    transition: .3s;
}

.action_button {
    align-self: center;
    background: #70028B;
    border: 3px solid #B8961F;
    box-shadow: 0px 0px 25px rgba(112, 2, 139, 0.25);
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white-text)
}