body {
    background-image: url('./../assets/background.png');
}

#reset_password {
    cursor: pointer
}

.form_input {
    background: none;
    outline: 1px solid var(--white-text);
    padding: 4px;
    color: white;
    border: none;
}

.form_input[type=button], .form_input[type=submit] {
    background-color: var(--purple);
    padding: 7px 15px;
    border-radius: 20px;
    border-color: white;
    color: var(--white-text);
    border-width: 1px 2px 3px 2px;
}

main {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    color: var(--white-text);
}

main::before {
    content: '';
    background-image: linear-gradient(#F9E24A, #AE05D8, #2A0034);
    position: absolute;
    opacity: .95;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

main > * {
    position: relative;
}

.button_logo__section, .button_logo__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button_logo__information {
    margin-top: 30px;
}

#button_logo__logo {
    width: 250px;
    position: relative;
    border-radius: 100%;
    box-shadow: 0px 4px 50px 2px #F9E24A;
}

.form__section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.form__container, .form__container > div, .form__container > div > form {
    display: flex;
    flex-flow: column;
}
.form__container {
    height: 95vh;
    overflow-y: hidden;
    justify-content: end;
}

.form__container > div {
    background-color: #2A0034E5;
    border-radius: 80px 80px 0px 0px;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    width: 60%;
    padding: 30px 0 30px 0;
}

.form__container > div > form {
    text-align: left;
    width: 70%;
}
.form__container > div > form > * {
    margin: 8px 0 8px 0;
}

form > .form_input[type=submit] {
    width: 200px;
    margin-top: 20px;
    align-self: center;
}

hr {
    border: 1px solid #FFF4A9;
    box-shadow: 0px 4px 50px 2px #F9E24A;
    width: 70%;
    z-index: 100;
}

.form_login__container {
    transform: translateY(129%);
}
.form_singup__container .form_input[type=button] {
    margin-top: 30px;
}
.form_singup__container {
    transform: translateY(100%);
}

.input_container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.input_container .label_error {
    transition: .5s;
    position: absolute;
    left: 110%;
    top: 25%;
    width: 80%;
    text-align: center;
    background-color: rgba(60, 12, 62, .8);
    padding: 6px;
}