<h2>Productos</h2>
<div class="common_products__container">
    <table id="common_products">
        <tr>
            <th>Producto</th>
            <th>Estado</th>
            <th>Precio</th>
        </tr>
        <tr>
            <td class="glasses_title__container" colspan="3">
                Productos Por Separado
            </td>
        </tr>
    </table>
    <div id="common-products__last-row">
        <div class="commo-products__total_payment">
            <h3>Total</h3>
            <span>
                <span>
                    <span id="total-value-global"></span>
                    $
                </span>
                <span class="bs_price__container"> | <span class="bs_price__value"></span>Bs</span>
            </span>
        </div>
    </div>
</div>
