.common_products__container {
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 3px solid #812299;
    width: 70%;
}

#common_products {
    border-collapse: collapse;
    width: 100%;
}

#common_products td {
    text-align: center;
    padding: 5px;
}

#common_products td img {
    cursor: pointer;
}

#common_products tr:nth-child(even) {
    background-color: #EEE6F0;
}