<div class="show_client_data">
    <table class="client_data">
        <tr>
            <th>Número de Telefono</th>
            <th>Número de Cedula</th>
        </tr>

        <tr>
            <td name="telefono"></td>
            <td name="cedula"></td>
        </tr>

        <tr>
            <th>Nombres</th>
            <th>Fecha Nacimiento</th>
        </tr>

        <tr>
            <td name="nombres"></td>
            <td name="fecha_nacimiento">No especificado</td>
        </tr>

        <tr>
            <th>Sexo</th>
        </tr>

        <tr>
            <td name="sexo">No especificado</td>
        </tr>
    </table>

    <table class="formula_data">
        <tr>
            <th>Ojo</th>

            <th>Esfericos</th>
            <th>Cilindros</th>
            <th>Eje</th>
            <th>Adicion</th>
        </tr>

        <tr>
            <th>Ojo Derecho</th>
            <td><input type="number" name="esferico_ojo_derecho" readonly></td>
            <td><input type="number" name="cilindro_ojo_derecho" readonly></td>
            <td><input type="number" name="eje_ojo_derecho" readonly></td>
            <td><input type="number" name="adicion_ojo_derecho" readonly></td>
        </tr>

        <tr>
            <th>Ojo Izquierdo</th>
            <td><input type="number" name="esferico_ojo_izquierdo" readonly></td>
            <td><input type="number" name="cilindro_ojo_izquierdo" readonly></td>
            <td><input type="number" name="eje_ojo_izquierdo" readonly></td>
            <td><input type="number" name="adicion_ojo_izquierdo" readonly></td>
        </tr>

        <tr>
            <th colspan="3">Distancia Pupilar</th>
            <td colspan="2"><input type="number" name="distancia_pupilar" readonly></td>
        </tr>

        <tr>
            <th colspan="3">¿Es Progresivo?</th>
            <td colspan="2"><input type="text" name="es_progresivo" readonly></td>
        </tr>
    </table>
</div>