<h2>Pagos</h2>
<div class="common_products__container">
    <table id="common_products">
        <tr>
            <th>Tipo de Pago</th>
            <th>Referencia</th>
            <th>Fecha</th>
            <th>Cantidad</th>
        </tr>
    </table>

    <div id="payment-table__last-row">
        <button class="action_button" id="add_payment">Añadir Pago</button>
        
        <div class="commo-products__total_payment">
            <h3>Total</h3>
            <span>
                <span>
                    <span id="total-value"></span>
                    $
                </span>
                <span class="bs_price__container"> | <span class="bs_price__value"></span>Bs</span>
            </span>
        </div>
    </div>
</div>
