#payment-table__last-row {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5px;
}

#add_payment {
    grid-column: 1 / 1;
    width: 150px;
}

.commo-products__total_payment {
    grid-column: 2 / 2;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}