<tr class="normal_mode">
    <td id="product_name"></td>
    <td id="referencia"></td>
    <td id="fecha"></td>
    <td>
        <span>
            <span id="price"></span>
            $
        </span>
        <span class="bs_price__container"> | <span class="bs_price__value"></span>Bs</span>
    </td>
</tr>

<tr class="insert_mode">
        <td>
            <select type="text" name="metodo_pago">
                <option value="Pago Movil">Pago Movil</option>
                <option value="Punto de Venta">Punto de Venta</option>
                <option value="Otro">Otro</option>
            </select>
        </td>
        <td><input type="number" name="referencia"></td>
        <td><input type="date" name="fecha"></td>
        <td><input type="number" name="cantidad"></td>
</tr>