table {
    border-collapse: collapse;
    border-radius: 25px;
    box-shadow: inset 0 0 0 var(--border-table) var(--yellow-border);
}
  
tr td, tr th, tr {
    border: var(--border-table) solid var(--yellow-border);
    outline: none;
}
  
/* este código es específico para este ejemplo,
si quieres hacerlo más genérico deberías añadir más 
casos añadiendo thead, tbody, etc. */
tr:first-child th:first-child,
tr:first-child th:last-child,
tr:last-child td:first-child,
tr:last-child th:first-child,
tr:last-child td:last-child {
    border-top: var(--border-table) solid transparent;
    border-left: var(--border-table) solid transparent;
}
  
tr:last-child td:last-child,
tr:first-child th:last-child {
    border-right: var(--border-table) solid transparent;
}
  
tr:last-child td, tr:last-child th {
    border-bottom: var(--border-table) solid transparent;
}

.formula_data {
    width: 80%;
    margin: 0 auto;
}

.formula_data input {
    width: 90%;
    border: none;
}

.formula_data input:focus-visible {
    outline: none;
}

.available_items {
    display: flex;
    flex-flow: column;
}
.formula_data {
    margin: 20px auto;
}
.available_items {
    margin: 20px auto;
}

.delete_form_formula {
    background-color: none;
    border: none;
    color: red;     
}