<div class="form_formula__container">
    <input type="button" class="delete_form_formula display_none" value="x">
    <div class="form_group">
        <div class="form_group" id="search_dni__container" style="width: 100%">
            <label>Numero de Cedula</label>
            <img src="./app/frontend/assets/icons/magnifying_glass.svg" id="search_dni">
            <input type="text" name="cedula" class="information_button client_data only_numbers" required>
        </div>
    </div>
    
    <div class="form_group">
        <label>Nombres</label>
        <input type="text" name="nombres" class="information_button client_data only_letters" required>
    </div>
    
    <div class="form_group">
        <label>Fecha de Nacimiento</label>
        <input type="date" name="fecha_nacimiento" class="information_button client_data only_letters" required>
    
        <label>Sexo</label>
        <select class="client_data information_button" name="sexo" required>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
    </div>

    <table class="formula_data">
        <tr>
            <th>Ojo</th>

            <th>Esfericos</th>
            <th>Cilindros</th>
            <th>Eje</th>
            <th>Adicion</th>
        </tr>

        <tr>
            <th>Ojo Derecho</th>
            <td><input type="number" class="client_data" name="esferico_ojo_derecho" required></td>
            <td><input type="number" class="client_data" name="cilindro_ojo_derecho" required></td>
            <td><input type="number" class="client_data" name="eje_ojo_derecho" required></td>
            <td><input type="number" class="client_data" name="adicion_ojo_derecho" required></td>
        </tr>

        <tr>
            <th>Ojo Izquierdo</th>
            <td><input type="number" class="client_data" name="esferico_ojo_izquierdo" required></td>
            <td><input type="number" class="client_data" name="cilindro_ojo_izquierdo" required></td>
            <td><input type="number" class="client_data" name="eje_ojo_izquierdo" required></td>
            <td><input type="number" class="client_data" name="adicion_ojo_izquierdo" required></td>
        </tr>

        <tr>
            <th colspan="3">Distancia Pupilar</th>
            <td colspan="2"><input type="number" class="client_data" name="distancia_pupilar" required></td>
        </tr>

        <tr>
            <th colspan="3">¿Es Progresivo?</th>
            <td colspan="2"><input type="checkbox" class="client_data" name="es_progresivo"></td>
        </tr>
    </table>

    <div class="available_items">
        <p>¿A que productos se aplica esta formula?</p>
    </div>
</div>