.formula_data {
    width: 80%;
    margin: 0 auto;
}

.formula_data input {
    width: 90%;
    border: none;
}

.formula_data input:focus-visible {
    outline: none;
}

.available_items {
    display: flex;
    flex-flow: column;
}
.formula_data {
    margin: 20px auto;
}
.available_items {
    margin: 20px auto;
}

.delete_form_formula {
    background-color: none;
    border: none;
    color: red;     
}