<header part="header">
    <a href="/ventas">
        <img src="./app/frontend/assets/logo_optiluz.png" alt="">
    </a>
    <nav>
        <ul>
            <li><a href="/ventas">Ventas</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li class="only_admin"><a href="/usuarios">Usuarios</a></li>

            <li class="li-menu__container">
                <a id="profile_img" href="#">
                    <img id="test" src="./app/frontend/assets/icons/profile_icon.svg" alt="" />
                </a>
                <div class="user-menu__container display_none">
                    <ul>
                        <li><a href="#">Perfil</a></li>
                        <li class="only_admin"><a href="/configuracion">Configuración</a></li>
                        <li><a id="close_session" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </nav>
</header>