header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: var(--yellow);
    box-shadow: 0px 4px 25px rgba(72, 0, 165, 0.5);
}
header > a, header > a img {
    width: 60px;
    height: 60px;
    align-self: center;
}
header nav {
    width: 40%;
    
}
header ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
header ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.2rem;
}

header nav img {
    width: 50px;
}

#user_option {
    display: none;
}

@keyframes hide_menu {
    99% {
        height: 0;
        border: 1px solid black;
    }
    100% {
        border: none
    }
}

@keyframes show_menu {
    100% {
        border: 1px solid black;
        height: 105%;
    }
    
}

.menu__container {
    position: relative;
}

.user-menu__container {
    position: absolute;
    right: 10%;
    top: 16%;
    border-radius: 6px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.user-menu__container ul {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding: 0;
    align-items: flex-start;
}

